<!DOCTYPE HTML>
<html>

<head>
	
	<meta charset="utf-8">
	
	<title><%= title %></title>
	
	<!-- meta -->
	<meta name="author" content="Burak Targaç">
	<meta name="description" content="Frontend Developer">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
	
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/media.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/fonts.css">
	
	<!-- google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,800,500,300,700|Open+Sans:400,700|Ubuntu:400,700' rel='stylesheet' type='text/css'>
	
</head>

<body>
	
	<div id="wrapper">
		
		
		<section id="admin">
			
			<div class="login-form">
				
			<form action="/login" method="post">
				<div>
					<input type="text" name="username" value="" placeholder="Username *" spellcheck="false"/>
				</div>
				<div>
					<input type="password" name="password" value="" placeholder="Password *" spellcheck="false"/>
				</div>
				<div class="col">
					<button type="submit">Send</button>
				</div>
			</form>

			</div>
			
		</section>
		
		
	</div>

	<!-- js -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

</body>
</html>